<!DOCTYPE html>
<html>

<head>
  <title>Penfield Digital - SMC</title>
  <%- include("./partials/_head") %>
</head>
<body>
    <div class="container">
        <form action="/salesforce" method="POST"> 
            <div class="mb-3">
              <label for="EmailAddress" class="form-label">Email address</label>
              <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" aria-describedby="emailHelp">
              <div id="emailId" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3 form-check">
              <input type="text" class="" id="FirstName" name="FirstName">
              <label class="form-check-label" for="FirstName">FirstName</label>
            </div>
            <div class="mb-3 form-check">
              <input type="text" class="" id="LastName" name="LastName">
              <label class="form-check-label" for="LastName">LastName</label>
            </div>
            <div class="mb-3 form-check">
              <input type="number" class="" id="CustomerSatisfaction" name="CustomerSatisfaction">
              <label class="form-check-label" for="CustomerSatisfaction">CustomerSatisfaction</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</body>
</html>